<h1>Welcome to PreMed Roadmap!</h1>

<p>This site was created by a medical student (now resident!) to help premed students by clearing the confusion about medical school admissions.</p>

<p>Use the navigation above to find your path to medical school.</p>

<h2>Recent Blog Posts:</h2>

<% @posts.each do |post| %>
    <% if post.photo? %>
        <%= image_tag post.photo.url(:thumb) %><br>
    <% end %>

    <%= link_to(post.title, post_path(post)) %><br>
    Date: <%= post.created_at.strftime("%m/%d/%y") %><br>
    By: <%= post.user.username %><br>
    <%= post.excerpt %><br>
    <br>

<% end %>

<%= link_to('More Posts', posts_path) %>
<p>Ads Support Our Site</p>
<p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- bottom -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-0527139808773078"
     data-ad-slot="6394666175"></ins></p>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>