<% @title= 'Blog' %>


<h1>Blog</h1>
<% @posts.each do |post| %>
    <hr>
<% if post.photo? %>
  <%= image_tag post.photo.url(:thumb) %><br>
<% end %>

    <%= link_to(post.title, post_path(post)) %><br>
    Date: <%= post.created_at.strftime("%m/%d/%y") %><br>
    By: <%= post.user.username %><br>
    <%= post.excerpt %><br>
    <%= link_to('Read More', post_path(post)) %>
    <br>
    <br>

  <% end %>
<div class="pagination">
<%= will_paginate @posts, previous_label: "Newer", next_label: "Older", inner_window: 2, outer_window: 0 %>
</div>

