<p id="notice"><%= notice %></p>

<% @title= @post.title %>

    <% if @post.photo? %>
      <%= image_tag @post.photo.url(:medium) %>
    <% end %>

    <p id="title">
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p id="date">
      <strong>Date Posted:</strong> <%=@post.created_at.to_date; %>
    </p>

    <p id="Author">
      <strong>By:</strong>
      <%= @post.user.username %>
    </p>

    <p id="body">
      <%= sanitize @post.body %>
    </p>


