<p id="notice"><%= notice %></p>

<% @title= @post.title %>

    <% if @post.photo? %>
      <%= image_tag @post.photo.url(:medium) %>
    <% end %>

    <h1>
      <%= @post.title %>
    </h1>

    <p id="date">
      <strong>Date Posted:</strong> <%=@post.created_at.strftime("%m/%d/%y") %>
    </p>

    <p id="Author">
      <strong>Author:</strong>
      <%= @post.user.username %>
    </p>

    <p id="body">
      <%= sanitize @post.body %>
    </p>


