<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @title %>
    <%= @title %> | PreMed Roadmap
    <% else %>
    PreMed Roadmap: Find Your Path to Medical School
    <% end %>
    </title>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32113251-1', 'auto');
      ga('send', 'pageview');

  </script>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<header>
  <!--
  <ul>
    <% if !user_signed_in? %>
        <li><%= link_to('Register', new_user_registration_path)  %></li>
        <li><%= link_to('Login', new_user_session_path)  %></li>
    <% end %>
    <% if user_signed_in? %>
        <li><%= link_to('Account Settings', edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% end %>
  </ul>
  -->
  <%= link_to(image_tag('premedroadmaplogo3.png', :alt =>'PreMed Roadmap Logo'), root_path) %>
  <p id="headtext"><%= link_to('Find Your Path<br> to Medical School'.html_safe, root_path) %></p>

</header>

    <nav id="primary_nav">
      <ul>
        <li class="firstli"><%= link_to('Home', root_path) %></li>
        <li><%= link_to('High School &darr;'.html_safe, '/pages/high-school-to-medical-school') %>
            <ul>
              <li><%= link_to('Is Medicine for Me?', '/pages/is-medicine-for-me') %></li>
              <li><%= link_to('High School Courses for Medical School', '/pages/high-school-courses-for-medical-school') %></li>
              <li><%= link_to('PreMed Colleges and Degrees', '/pages/premed-colleges-degrees') %></li>
              <li><%= link_to('Seven Year Medical Programs', '/pages/seven-year-medical-programs') %></li>
            </ul>
        </li>
        <li><%= link_to('College &darr;'.html_safe, '/pages/pre-med') %>
          <ul>
            <li><%= link_to('Medical School Requirements', '/pages/medical-school-requirements') %></li>
            <li><%= link_to('PreMed Majors and Courses', '/pages/pre-med-major-and-courses') %></li>
            <li><%= link_to('MCAT Prep Guide', '/pages/mcat-prep') %></li>
          </ul>
        </li>
        <li><%= link_to('Applying &darr;'.html_safe, '/pages/applying-to-medical-school') %>
          <ul>
            <li><%= link_to('Medical School Acceptance Statistics', '/pages/medical-school-statistics') %></li>
            <li><%= link_to('How to Write a Personal Statement', '/pages/how-to-write-a-medical-school-personal-statement') %></li>
            <li><%= link_to('Recommendation Letters', '/pages/medical-school-recommendation-letters') %></li>
            <li><%= link_to('AMCAS Step by Step', '/pages/amcas-medical-school-application') %></li>
            <li><%= link_to('Secondary Application Essays', '/pages/medical-school-secondary-application-essays') %></li>
            <li><%= link_to('Interview Guide', '/pages/medical-school-interview') %></li>
            <li><%= link_to('How to Choose a Medical School', '/pages/how-to-choose-a-medical-school') %></li>
          </ul>
        </li>
        <li><%= link_to('Alternatives &darr;'.html_safe, '/pages/alternative-to-medical-school') %>
          <ul>
            <li><%= link_to('Should I Apply Again?', '/pages/reapplying-to-medical-school') %></li>
            <li><%= link_to('About Caribbean Medical Schools', '/pages/caribbean-medical-schools') %></li>
            <li><%= link_to('About Osteopathic Medical Schools', '/pages/osteopathic-medical-schools-and-what-is-osteopathy') %></li>
          </ul>
        </li>
        <li><%= link_to('Careers', '/pages/health-careers') %></li>
        <li><%= link_to('Blog', posts_path) %></li>
        <li><%= link_to('Contact', contacts_path) %></li>
      </ul>
    </nav>

<div id="page">
    <article>
        <%= yield %>
    </article>

    <aside>
        <div class="social">
              <p>Google +1 Us</p>
              <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="240"></div>
            <div class="facbook">
              <p>Like Us On Facebook</p>
              <%= link_to(image_tag('FB-f-Logo__blue_29.png', :alt=> 'Facebook Logo'), 'https://www.facebook.com/premedroadmap', :target => '_blank') %></div>
            <div class="twitter">
              <p>Follow Us On Twitter</p>
              <%= link_to(image_tag('Twitter_logo_white.png', :alt=> 'Twitter Logo'), 'https://twitter.com/premedroadmap', :target => '_blank') %></div>
        </div>
        <% unless current_page?(root_path) %>
          <div class="adcontainer">
              <p>Ads Support Our Site</p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-0527139808773078"
                     data-ad-slot="9036637777"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
          </div>
              <% end %>
    </aside>
</div>
    <footer>
      &copy; 2015 PreMed Roadmap
    </footer>

<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>
