<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @title %>
    <%= @title %> | PreMed Roadmap
    <% else %>
    PreMed Roadmap: Find Your Path to Medical School
    <% end %>
    </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<header>
  <ul>
    <% if !user_signed_in? %>
        <li><%= link_to('Register', new_user_registration_path)  %></li>
        <li><%= link_to('Login', new_user_session_path)  %></li>
    <% end %>
    <% if user_signed_in? %>
        <li><%= link_to('Account Settings', edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% end %>
  </ul>
  <%= image_tag('premedroadmaplogo3.png', :alt =>'PreMed Roadmap Logo') %>
  <p id="headtext">Find Your Path<br> to Medical School</p>
</header>

<nav>
  <ul>
    <li><%= link_to('High School', "http://localhost:3000/pages/high-school-to-medical-school") %></li>
    <li>College</li>
    <li>Applying</li>
    <li>Alternatives</li>
    <li>Careers</li>
    <li><%= link_to('Blog', posts_path) %></li>
    <li><%= link_to('Contact', contact_path) %></li>
  </ul>
</nav>

<section class="contentcontainer">
    <%= yield %>
</section>

<aside>
  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then
</aside>
<footer>
  &copy; 2015 PreMed Roadmap
</footer>
</body>
</html>
